@using BusinessObject.DTO
@model List<ProductDTO>
@using Microsoft.AspNetCore.Html
<!-- //banner-top -->
<!-- Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
                    <form action="#" method="post">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="Name" required="">
                            <label>Name</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="email" name="Email" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Sign In">
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p><a href="#" data-toggle="modal" data-target="#myModal2"> Don't have an account?</a></p>

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="images/log_pic.jpg" alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal1 -->
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                    <h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
                    <form action="#" method="post">
                        <div class="styled-input agile-styled-input-top">
                            <input type="text" name="Name" required="">
                            <label>Name</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="email" name="Email" required="">
                            <label>Email</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="password" required="">
                            <label>Password</label>
                            <span></span>
                        </div>
                        <div class="styled-input">
                            <input type="password" name="Confirm Password" required="">
                            <label>Confirm Password</label>
                            <span></span>
                        </div>
                        <input type="submit" value="Sign Up">
                    </form>
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <p><a href="#">By clicking register, I agree to your terms</a></p>

                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="images/log_pic.jpg" alt=" " />
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- //Modal2 -->
<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Men's <span>Wear  </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="index.html">Home</a><i>|</i></li>
                    <li>Men's Wear</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- mens -->
        <div class="col-md-4 products-left">
            @*			<div class="filter-price">
                <h3>Filter By <span>Price</span></h3>
                <ul class="dropdown-menu6">
                <li>
                <div id="slider-range"></div>
                <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
                </li>
                </ul>
                </div>*@
            <div class="css-treeview">
                <h4>Categories</h4>
                <ul class="tree-list-pad">
                    @foreach (string item in @ViewBag.listCategoryGeneral)
                    {
                        <li>
                            <input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item)</label>
                            <ul>
                                @foreach (CategoryDTO catItem in @ViewBag.listCategories)
                                {
                                    if (catItem.CategoryGeneral == item)
                                    {
                                        <li><a href="/Product?categoryId=@catItem.CategoryId&text=@ViewData["text"]&sortType=@ViewData["sortType"]"><label for="item-0-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>@Html.DisplayFor(modelItem => catItem.CategoryName)</label></a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 products-right">
            <h5>Product</h5>
            <div class="sort-grid">
                <div class="sorting">
                    <h6>Search</h6>
                    <form method="get">
                        <input class="frm-field required sect" type="search" name="text" value="@ViewData["text"]" />
                        <input type="hidden" name="categoryId" value="@ViewData["categoryId"]" />
                        <input type="hidden" name="sortType" value="@ViewData["sortType"]" />
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="sorting">
                    <h6>Sort By</h6>
                    <form method="get">
                        <select id="country1" name="sortType" onchange="this.form.submit()" class="frm-field required sect">
                            <option value="">Default</option>
                            <option value="name-asc" selected='@((string)ViewBag.SortType == "name-asc")'>Name(A - Z)</option>
                            <option value="name-desc" selected='@((string)ViewBag.SortType == "name-desc")'>Name(Z - A)</option>
                            <option value="price-asc" selected='@((string)ViewBag.SortType == "price-asc")'>Price(High - Low)</option>
                            <option value="price-desc" selected='@((string)ViewBag.SortType == "price-desc")'>Price(Low - High)</option>
                        </select>
                        <input type="hidden" name="categoryId" value="@ViewData["categoryId"]" />
                        <input type="hidden" name="text" value="@ViewData["text"]" />
                    </form>
                    <div class="clearfix"></div>
                </div>

            <div id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <img class="img-responsive" src="images/banner2.jpg" alt=" " />
                    </li>
                    <li>
                        <img class="img-responsive" src="images/banner5.jpg" alt=" " />
                    </li>
                    <li>
                        <img class="img-responsive" src="images/banner2.jpg" alt=" " />
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="single-pro">
            @foreach (var item in Model)
            {
                <div class="col-md-3 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="" class="pro-image-front" style="transition: all 0.5s ease-out 0s;padding: 52px 35px 20px;">
                            <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="" class="pro-image-back" style="transition: all 0.5s ease-out 0s;padding: 52px 35px 20px;">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a asp-controller="product" asp-action="detail" asp-route-id="@item.ProductId" class="link-product-add-cart">Quick View</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a asp-controller="product" asp-action="detail" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.ProductName)</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">@Html.DisplayFor(modelItem => item.UnitPrice)$</span>
                                <del>$69.71</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form method="get" action="~/cart/addtocart">
                                    <fieldset>
                                        <input type="hidden" name="id" value="@item.ProductId" />
                                        <input type="submit" value="Add to cart" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>	